:root {
    --Primary-color: #219ebc;
    --secondary-color: #023047;
    --Accent1-color: #023047;
    --accent2-color: #fb8500;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--accent2-color);
    font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}



header,
main,
footer {
    width: 1000px;
    margin: 0 auto;

}

header {
    display: flex;
    background-color: var(--Primary-color);
    color: var(--accent2-color);
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border: 2px solid var(--Accent1-color)
}

header img {
    margin-left: 10px;
    width: 150px;
    border-radius: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 10px;
}

nav a {
    color: rgba(255, 0, 0, 0.404);
    padding-right: 1px;
}

nav a {
    color: navy;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.callout {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--Accent1-color);
    color: wheat;
}

.hero article img {
    float: right;
    width: 125px;
    display: flex;
    position: absolute;
    top: 30px;
    right: 1px;
    padding-top: 0;


}

.hero2 {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    background-color: var(--clr-accent1);
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.322);
}

.hero2 img {
    width: 1150px;
    height: 280px;
}

.home img {
    width: 960px;
    height: 280px;
}



.home {
    border: 2px solid rgba(0, 0, 0, 0.322);
    color: var(--clr-primary);
    background-color: var(--clr-accent1);
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    justify-items: center;
}

.home h2 {
    color: var(--clr-primary);
}

.hero3 h1 {
    background-color: rgba(0, 0, 0, 0.36);
}

.hero3 {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    background-color: var(--clr-accent1);
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.322);
}

.hero3 img {
    width: 1150px;
    height: auto;
}

.hero3 article {
    position: absolute;
    top: 130px;
    right: 15px;
    left: 15px;
    color: var(--clr-secondary);
    background-color: rgba(0, 0, 0, 0.36);
    font-size: 1.2rem;
}

article {
    top: 130px;
    position: absolute;
    right: 0px;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
}

.history {
    text-align: center;
    width: 100%;
}

.history p {
    margin: 16px;
    padding: 8px;

}

.history h2 {
    grid-column: 1/4;
    background-color: var(--Accent1-color);
    padding: 11px;
    color: white;
}


.history {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    background-color: var(--Primary-color);
    color: #2d2921;
    align-items: center;

}

.history img {
    border: 1px solid #000;
    border-radius: 1rem;
    border-width: 2px;
    background-color: #bbb;
    width: 200px;
    height: 200px;

}

.adventure {
    text-align: center;
    width: 100%;
}

.adventure h3 {
    grid-column: 1/6;
    padding: 1rem;
    background-color: var(--Accent1-color);
    margin-bottom: 20px;
    color: white;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--Primary-color);
    padding-bottom: 50px;
    color: #1e2002;
}

.adventure img {
    border-radius: 16px;
    width: 170px;
    height: 150px;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--Primary-color);
    border: 2px solid var(--Accent1-color);
}

.copyright-text {
    flex-grow: 1;
    text-align: center;
    margin-left: 170px;
}


.socialmedia {
    display: flex;
    gap: 0;
}

.socialmedia a {
    text-decoration: none;
}

.smiles h5 {
    text-align: center;
    font-size: 2rem;
}

.smiles {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid var(--Accent1-color);
    background-color: var(--Primary-color);
}

.smiles h5,
p {
    margin-bottom: 1rem;
}

.contact {
    background-color: var(--Primary-color);
    border: 2px solid var(--Accent1-color);
    padding: 1rem;
    letter-spacing: 3px;
}

.contact p {
    margin: 1rem;
}

.contact h1 {
    text-align: center;
}


.map {
    border: 2px solid var(--Accent1-color);
    background-color: var(--Primary-color);
    padding: 0.5rem;
}

.personal {
    border: 2px solid var(--Accent1-color);
    padding: 1rem;
    background-color: var(--Primary-color);
}


.column1 {
    padding: 0.5rem;
}

fieldset {
    grid-gap: 0.5rem;
}

fieldset {
    border-color: aquamarine;
    border-width: 0.3rem;
}


.inquiry {
    display: grid;
    grid-row: auto;
}

button {
    margin: 1rem;
    background-color: aquamarine;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}


.insight {
    display: grid;
    border: 2px solid rgba(0, 0, 0, 0.322);
    background-color: var(--clr-accent1);
    grid-row: 1/5;
    color: var(--clr-primary);
    padding: 1rem;
    gap: 5px;
}

.insight img {
    width: 200px;
    height: auto;
}

.newsletter {
    border: 2px solid rgba(0, 0, 0, 0.322);
    background-color: var(--clr-accent1);
    padding: 1rem;
}

.newsletter img {
    width: 300px;
    height: auto;
}

.newsletter a {
    color: rgb(70, 1, 105, 1);
}

.trips {
    border: 2px solid rgba(0, 0, 0, 0.322);
    color: var(--clr-primary);
    background-color: var(--clr-accent1);
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    letter-spacing: 2px;
    padding: 2rem;
}

.trips p {
    margin-bottom: 1px;
}

.trips h2 {
    color: #9d0101;
    font-size: 3rem;
}

.trips2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.322);
    background-color: var(--clr-accent1);
    padding: 2rem;
}

.trips2 h3 {
    font-size: 2rem;
    grid-column: 1/4;
    color: var(--clr-primary);
}

.trips2 img {
    width: 200px;
    height: 150px;
    border-radius: 1rem;
}

.trips2 figure {
    background-color: #dfd9d9;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.table {
    border-collapse: collapse;
    grid-area: table;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--clr-accent1);
    padding: 0.5rem;
}

.table, th, td {
    border: 1px solid white;
}

.table1 {
    border: 2px solid rgba(0, 0, 0, 0.322);
    background-color: var(--clr-accent1);
    text-align: center;
}

.table1 h4 {
    font-size: 1.5rem;
}

