:root {
    --Primary-color: #219ebc;
    --secondary-color: #023047;
    --Accent1-color: #023047;
    --accent2-color: #fb8500;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--accent2-color);
    font-family: Roboto;
}

p {
    margin: 16px;
    padding: 8px;

}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--Primary-color);
    color: var(--accent2-color);
    justify-content: space-between;
    padding: 5px;

}

header img {
    margin-left: 100px;
    width: 150px;
    border-radius: 20px;
}

nav a {
    color: rgba(255, 0, 0, 0.404);
    padding-right: 50px;


}

nav {
    padding-top: 20px;
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--Accent1-color);
    color: wheat;
}

.hero article img {
    float: right;
    width: 125px;
    display: flex;
    position: absolute;
    top: 48px;
    right: 1px;
    padding-top: 0;


}

article {
    top: 130px;
    position: absolute;
    right: 0px;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
}

.history {
    text-align: center;
    width: 100%;
}


.history h2 {
    grid-column: 1/4;
    background-color: var(--Accent1-color);
    padding: 11px;
    color: white;
}


.history {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    background-color: var(--Primary-color);
    color: #2d2921;
    align-items: center;

}

.history img {
    border: 1px solid #000;
    border-radius: 1rem;
    border-width: 2px;
    background-color: #bbb;
    width: 200px;
    height: 200px;

}

.adventure {
    text-align: center;
    width: 100%;
}

.adventure h3 {
    grid-column: 1/6;
    padding: 1rem;
    background-color: var(--Accent1-color);
    margin-bottom: 20px;
    color: white;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--Primary-color);
    padding-bottom: 50px;
    color: #1e2002;
}

.adventure img {
    border-radius: 16px;
    width: 170px;
    height: 150px;
}



.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--Primary-color);
    border: solid var(--Accent1-color);
}

.copyright-text {
    flex-grow: 1;
    text-align: center;
    margin-left: 170px;
}


.socialmedia {
    display: flex;
    gap: 0;
}

.socialmedia a {
    text-decoration: none;
}